body {
    font-family: Arial, sans-serif;
    background-image: url('bg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 401px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #45a049;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-login a:hover {
    background-color: green
}

.social-login .email {
    background-color: #f75524;
}

